/**
 * @module			openestate
 * @author			Andreas Rudolph, Walter Wagner, cms-lab
 * @copyright		2018-2019 Andreas Rudolph, Walter Wagner, cms-lab
 * @license			please see info.php of this module 
 * @license_terms	please see info.php of this module 
 * @platform		see info.php of this module
 *
 */

body {
	background-color:transparent;
}

.spacer1{
	width:100%;
	height:10px;
}

.spacer2{
	width:100%;
	height:20px;
}

.spacer3{
	width:100%;
	height:30px;
}

.spacer4{
	width:100%;
	height:40px;
}


.info {
	padding-left: 0;
	background: none;
}

.feature {
    max-width: 400px;
    margin: 0 auto !important;
}

.check_feature {
    margin-right: 10px !important;
	vertical-align: middle !important;
}

.filter {
    max-width: 500px;
    margin: 0 auto !important;
}

input.openestate-filter-field {
	margin-right: 10px !important;
	vertical-align: middle !important;
}
	
