/**
 * @module			openestate
 * @author			Andreas Rudolph, Walter Wagner, cms-lab
 * @copyright		2018-2019 Andreas Rudolph, Walter Wagner, cms-lab
 * @license			please see info.php of this module 
 * @license_terms	please see info.php of this module 
 * @platform		see info.php of this module
 *
 */

 h1, h2, h3, h4 {
    font-family: Verdana;
    text-align: left !important;
    color: #333;
}

.openestate-body {
    background-color: white;
    font-size: 16px;
    max-width: 850px;
    margin: 30px auto;
}


